class {{pascalCase name}} {
    constructor() {
        // Initialize component
    }

    render() {
        const element = document.createElement('div');
        element.innerHTML = `<div class="{{dashCase name}}">Welcome to {{pascalCase name}} Component</div>`;
        return element;
    }
}

export default {{pascalCase name}};
